<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>userOp.LoginUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutUserServlet</servlet-name>
        <servlet-class>userOp.LogoutUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutUserServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>userOp.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateUserServlet</servlet-name>
        <servlet-class>userOp.ValidateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateUserServlet</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>userOp.ManageUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSaleServlet</servlet-name>
        <servlet-class>houseOp.AddSaleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSaleServlet</servlet-name>
        <url-pattern>/add_sale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRentServlet</servlet-name>
        <servlet-class>houseOp.AddRentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRentServlet</servlet-name>
        <url-pattern>/add_rent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewHouseServlet</servlet-name>
        <servlet-class>houseOp.ViewHouseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewHouseServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditHouseServlet</servlet-name>
        <servlet-class>houseOp.EditHouseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditHouseServlet</servlet-name>
        <url-pattern>/edit_house</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageAlgorithmsServlet</servlet-name>
        <servlet-class>algoOp.ManageAlgorithmsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageAlgorithmsServlet</servlet-name>
        <url-pattern>/manage_algo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEmailServlet</servlet-name>
        <servlet-class>EmailOp.DeleteEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEmailServlet</servlet-name>
        <url-pattern>/delete_email</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchSaleServlet</servlet-name>
        <servlet-class>houseOp.SearchSaleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSaleServlet</servlet-name>
        <url-pattern>/search_sale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchRentServlet</servlet-name>
        <servlet-class>houseOp.SearchRentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchRentServlet</servlet-name>
        <url-pattern>/search_rent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewSearchedHouseServlet</servlet-name>
        <servlet-class>houseOp.ViewSearchedHouseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSearchedHouseServlet</servlet-name>
        <url-pattern>/view_search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>EmailOp.SendEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/send_email</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
	    60
	</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>securedapp</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
